html, body {
    height: 100%;
  }
  body {
    background-color: #262626;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
  }
  #box {
    background-color: #88ce02;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
   
  .boxSmall {
    position: absolute;
    background-color: #70a40b;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 75px;
    z-index: 2;
  }
   
  .boxTiny {
    background-color: #577a14;
    height: 50px;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 3;
  }